@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --MainFontColor: #000;
  --secColor: #2196f3;
  --contactColor: #757575;
  --mottoColor: #fff;
  --bgColor: #2f303a;
}

body {
  color: var(--bgColor);
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
}

header {
  border-bottom: 1px solid #ececec;
  width: 100%;
  margin: auto;
}

header .nav {
  height: 80px;
  margin: 0;
  display: flex;
  width: 1200px;
  display: flex;
  justify-content: center;
}

header .logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

header .logo span {
  color: var(--secColor);
}
/* navigation bar links */
header .menu {
  list-style-type: none;
  margin: 0px;
}

header .menu li {
  display: inline-block;
  margin-left: 46px;
}

header .menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--MainFontColor);
}

header .menu a:hover,
a:focus {
  color: var(--secColor);
}

/* navigation bar contact */
header .contact {
  list-style: none;
  margin: 0px;
}
header .contact li {
  display: inline-block;
  margin-left: 50px;
}

header .contact a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--contactColor);
}

header .contact a:hover,
a:focus {
  color: var(--secColor);
}
/* header board */
header .board {
  width: 1600px;
  height: 600px;
  background: var(--bgColor);
  margin: auto;
}

header .board .motto {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 696px;
  text-transform: uppercase;
  color: var(--mottoColor);
  text-align: center;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 40px;
}

header .board button {
  width: 200px;
  height: 50px;
  border: none;
  background: var(--secColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: var(--mottoColor);
  margin: auto;
  display: block;
}

.content {
  margin: auto;
}
.content #advantages {
  padding-bottom: 94px;
  padding-top: 94px;
  width: 100%;
}
.content #advantages .items {
  list-style: none;
  display: flex;
  justify-content: center;
}
.content #advantages .item {
  display: inline-block;
  margin: 0 15px;
}
.content #advantages .item .box {
  width: 270px;
  height: 101px;
}

.content #advantages .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: var(--bgColor);
}
.content #advantages .desc {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--contactColor);
}

.content #takeCare {
  padding-bottom: 94px;
  padding-top: 94px;
  width: 1600px;
}

.content #takeCare h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.content #takeCare .items {
  display: inline-block;
  display: flex;
  justify-content: center;
}

.content #takeCare .item {
  display: inline-block;
  margin: 0 15px;
}

.content #team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
  width: 1600px;
}

.content #team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.content #team .items {
  display: inline-block;
  display: flex;
  justify-content: center;
}

.content #team .item {
  display: inline-block;
  margin: 0 15px;
}

.content #team .box {
  width: 270px;
  height: 368px;

  background: var(--mottoColor);
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.content #team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.content #team .workplace {
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--contactColor);
}

.content #filter-bar {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 94px;
}

.content #filter-bar .items {
  list-style: none;
}
.content #filter-bar .item {
  display: inline-block;
}

.content #filter-bar input[type="button"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  width: 93px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
}

.content #filter-bar input[type="button"]:hover {
  width: 93px;
  height: 38px;
  background: var(--secColor);
  color: var(--mottoColor);
  border-radius: 4px;
}

.content #projects {
  display: flex;
  flex-wrap: wrap;
}

.content #projects .photo {
  width: 370px;
  height: 404px;
  background: var(--mottoColor);
  border: 1px solid #eeeeee;
  margin: 15px 15px;
}

.content #projects .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  margin: 20px 0 0 24px;
  letter-spacing: 0.06em;

  color: #212121;
}

.content #projects .type {
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */
  margin: 4px 0 0 24px;
  letter-spacing: 0.03em;

  color: var(--contactColor);
}

/* Footer styles */
footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  margin: auto;
}

footer .logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--mottoColor);
  margin: 0;
}

footer .logo span {
  color: var(--secColor);
}

footer address .items {
  list-style: none;
  font-style: normal;
}

footer address .item:first-child {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;

  color: var(--mottoColor);
}

footer address .item {
  font-size: 14px;
  line-height: 2;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
